# SBA Gas Scale .gitignore

# Other projects in workspace
Colour-Sort/

# PlatformIO
.pio/
.vscode/
compile_commands.json

# Android & Gradle
.gradle/
build/
app/build/
.idea/
*.apk
*.aar
local.properties
**/GeneratedPluginRegistrant.java

# Flutter & Vercel
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
_flutter/
.vercel/

# OS & Environment
.DS_Store
Thumbs.db
*.log
*.iml
.metadata

